@font-face {
  font-family: "Mergic-Italic";
  src: url("../styles/fonts/Mergic-Italic.ttf.woff") format("woff"),
    url("../styles/fonts/Mergic-Italic.ttf.svg#Mergic-Italic") format("svg"),
    url("../styles/fonts/Mergic-Italic.ttf.eot"),
    url("../styles/fonts/Mergic-Italic.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.font-mergic {
  font-family: "Mergic-Italic";
}

@font-face {
  font-family: "Junicode-Bold";
  src: url("../styles/fonts/Junicode-Bold.ttf.woff") format("woff"),
    url("../styles/fonts/Junicode-Bold.ttf.svg#Junicode-Bold") format("svg"),
    url("../styles/fonts/Junicode-Bold.ttf.eot"),
    url("../styles/fonts/Junicode-Bold.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Junicode-ExtraBold";
  src: url("../styles/fonts/Junicode-Bold.ttf.woff") format("woff"),
    url("../styles/fonts/Junicode-Bold.ttf.svg#Junicode-Bold") format("svg"),
    url("../styles/fonts/Junicode-BoldCondensed.ttf.eot"),
    url("../styles/fonts/Junicode-BoldCondensed.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: bold;
}

.font-junicode {
  font-family: "Junicode-Bold";
}

.font-junicode-bold {
  font-family: "Junicode-BoldExtra";
}

.logo img {
  width: 250px;
}

.logo h1 {
  font-size: 2.5rem;
}

body {
  background-color: #f6eee3;
  max-width: 100vw;
  overflow-x: hidden;
}

.banner-top {
  background-image: url("../images/Grasmotiv.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
}

.ribin-svg {
  margin-top: -7.5rem;
}

.main-content {
  margin-top: 7rem;
}

.footer {
  border-top: 2px solid #a07e54;
}

.text-blue {
  color: #292d79;
}

.banner-top.border-top {
  border-top: 5px solid #a07e54 !important;
}

.weat-svg {
  transform: translateY(-360px);
  left: 25px;
}

.home-content strong {
  font-size: 1.12rem;
  font-family: "Junicode-BoldExtra";
}

.home-content p {
  font-weight: normal !important;
}

@media screen and (max-width: 767px) {
  .logo img {
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .logo img {
    width: 175px;
  }
}